/*sintaxe do css*/
/*elemento {propriedade:valor}*/

/*reset css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    background-color: #FFF8E7;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    background-color: #f0842b;
    display: inline;
    color: beige;
    font-family: "comic neue";
}

h2 {
    border-radius: 10px;
}

img {
    border-radius: 50%;
}

h2 {
    background-color: #F77F00;
}

header {
    background-color: beige;
    width: 100%;
    height: 218px;
    margin-bottom: 10%;
}

main {
    background-color: aliceblue;
    /*width: altera a largura do elemento*/
    width: 70%;
    height: 50vh;
    margin: 0 auto;
    border-radius: 15px;
    margin-bottom: 10%;
}


nav {
    background-color: #FCBF49;
    color: white;
    width: 90%;
    margin: 0 auto;
    /*text-align: alinhamento do texto*/
    text-align: center;
    justify-content: space-between;
    border-radius: 20px;
}

a {
    text-decoration: none;
    color: black;
}

li {
    display: inline;
}

#topo {
    width: 90%;
    background-color: #f0842b;
    text-align: center;
    margin: 0 auto;
    height: 200px;
    border-radius: 20px;
}

footer {
    width: 50%;
    background-color: #FCBF49;
    margin: 0 auto;
    text-align: center;
    border-radius: 25px;
    margin-bottom: 20px;
}

#prato_dia table {
    /* background-image: url(../imagens/fundos.jpg); 
    background-repeat:no-repeat; 
    background-size:cover; */
    background-color: #FCBF49;
    width: 100%;
}
body{
    font-family: "comic neue";
}
p{
    /* border-style: solid; */
    /* width: 300px;
    height: 100px; */
    padding: 5px 10px;
    
}

#menu_delicioso li{
    display: block;
    padding: 5px 10px;
}


nav{
    margin-top: 20px;
    height: 50px;
    padding-top: 15px;
}

nav ol li{
    /* border-style: solid;  */
    padding: 5px;
}

nav a{
    font-size: 18px;
}

nav li:hover{
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
    font-weight: 700;
    border-bottom-style: solid;
    background-color: #c29846;
    border-bottom-color:#F77F00;
}

footer img:hover{
    width: 60px;
    height: 60px;
}

tbody{
    background-color: #c29846; 
}